[submodule "src/urg_node2"]
	path = src/urg_node2
	url = https://github.com/Hokuyo-aut/urg_node2
[submodule "src/slam_gmapping"]
	path = src/slam_gmapping
	url = https://github.com/Project-MANAS/slam_gmapping
[submodule "src/robot_localization"]
	path = src/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
[submodule "src/ros2_mpu6050_driver"]
	path = src/ros2_mpu6050_driver
	url = https://github.com/hiwad-aziz/ros2_mpu6050_driver
